/* Coolors Exported Palette - https://coolors.co/0738ac-a325f6-8621c1-5466ed-00fe9b-78feff */

/* CSS HEX */

/* CSS HSL */

/* SCSS HEX */
$egyptian-blue: #0738ACff;
$veronica: #A325F6ff;
$french-violet: #8621C1ff;
$neon-blue: #5466EDff;
$spring-green: #00FE9Bff;
$electric-blue: #78FEFFff;

/* SCSS HSL */
$egyptian-blue: hsla(222, 92%, 35%, 1);
$veronica: hsla(276, 92%, 55%, 1);
$french-violet: hsla(278, 71%, 44%, 1);
$neon-blue: hsla(233, 81%, 63%, 1);
$spring-green: hsla(157, 100%, 50%, 1);
$electric-blue: hsla(180, 100%, 74%, 1);

/* SCSS RGB */
$egyptian-blue: rgba(7, 56, 172, 1);
$veronica: rgba(163, 37, 246, 1);
$french-violet: rgba(134, 33, 193, 1);
$neon-blue: rgba(84, 102, 237, 1);
$spring-green: rgba(0, 254, 155, 1);
$electric-blue: rgba(120, 254, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-right: linear-gradient(90deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-bottom: linear-gradient(180deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-left: linear-gradient(270deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-top-right: linear-gradient(45deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-bottom-right: linear-gradient(135deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-top-left: linear-gradient(225deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-bottom-left: linear-gradient(315deg, #0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);
$gradient-radial: radial-gradient(#0738ACff, #A325F6ff, #8621C1ff, #5466EDff, #00FE9Bff, #78FEFFff);